    body{
        background-color: black;
    }
    .logo{
        margin-top: -40px;
    }

    .Quem{
        margin-top: -65px;
        text-align: center;
        color: #fff;
        font-size: 50px;
    font-family: sans-serif, "Roboto";
    }

    .name ul {
        list-style-type: none;
        padding: 0;
        padding-left: 280px;
    }
    
    .name ul li {
        display: inline-block;
        margin-right: 80px;
        font-size: 18px; 
        color: #fff; 
        font-family: sans-serif, "Roboto";
    }

    
.name ul li a {
    text-decoration: none; 
    color: #fff; 
}

.name ul li a:hover {
    text-decoration: underline; 
}

.P1{

}

.P2{
padding-left: 10px;
}

.P3{
padding-left: 10px;
}

.P4{
    padding-left: 10px;
}

.P5{
    padding-left: 8px;
}


    .Gerenciar{
        margin-left: 570px;
        margin-top: 50px;
        text-align: center;
        color: #fff;
        font-size: 25px;
    font-family: sans-serif, "Roboto";
    border: 2px solid #fff; 
    display: inline-block; 
    padding: 10px; 
    transition: box-shadow 0.3s, color 0.3s; 
    box-shadow: 0 0 0 0 transparent;
    }

    .Gerenciar :hover{
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 20px 0 #ff0000; 

    }

    .imagem1{
        margin-left: 250px;
    }

    .imagem5{
        margin-right: 150px;
    }
    .imagem{
    display: inline-block;
    margin-right: 30px;
    }